@import "variables"
@import "functions"

.gradient-btn
  +btn-common
  display: inline-block
  border-radius: 100rem
  background-image: $btn-gradient
  color: white
  padding: .6rem 1.5rem
  font-weight: bold
  letter-spacing: 1px
  text-decoration: none
  text-align: center
  &.secondary
    background-image: $btn-secondary-gradient
  &.line
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%)
    background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%)
  &.submit
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%)
    color: rgba(#1e1e1e, .8)
    &:hover
      color: rgba(#1e1e1e, .8)
    +my(1rem)
  &.block
    display: block
    width: 100%
  &[disabled]
    opacity: .5
