.logo
  height: auto
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 1rem 0
  overflow: hidden
  color: white
  img
    max-width: 100%
    height: auto
    -webkit-user-drag: none
 