@import "custom"
@import "~bootstrap/scss/bootstrap"

@import "button"
@import "footer"
@import "section"
@import "index"

@media (max-width: 576px)
  html
    font-size: 14px

body
  font-family: $font-family

a:hover
  text-decoration: none

[v-cloak]
  display: none !important
